.Navigation-Button  {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    background-color: grey;
}
.Navigation-Button-Selected  {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: green;
}

.Navigation-Button:hover {
    width:100%;
    margin-left: 0;
    margin-right: 0;
    background-color: yellow;
}